.left {
    float: left;
    font-family: 'Playfair Display', serif;
    color: darkslategrey;
    font-size: 12PT;
    padding: 10px;

}
.right {

    width: 100%;
    background-color: darkgrey;
    font-family: 'Playfair Display', serif;
    color: darkslategrey;
    font-size: 12PT;
    padding: 10px;
    float: right;
    vertical-align: top;
}

.nav{

    font-family: 'Playfair Display', serif;
    color: darkslategrey;
    font-size: 12PT;
    padding: 10px;
    text-align: right;
    width: 100%;
    float: right;
}

section{

    align-content: center;
}

header{

    font-family: 'Playfair Display', serif;
    color: darkslategrey;
    font-size: 12PT;

}

head{

    background-color: aqua;
}

form {

    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 12PT;
    
}

.inputform
{
    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    padding: 5px;
    margin-bottom: 10px;
    ;
}


#form{

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}



table{

    background-color: darkslategrey;
    padding: 30px;

    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */

}

p{
    font-family: 'Playfair Display', serif;

}

.foot{
    float: right;
    text-align: right;
    font-family: 'Playfair Display', serif;
    vertical-align: bottom;
}

input.submit {
    width: 6em;  height: 3em;


}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{

    float: left;
}

li a{

    display: inline-block;
    padding: 0 10px 10px 10px;
    text-decoration: none;

}

A:LINK{

    COLOR: gold;
}

A:HOVER{

    COLOR: red;
}

h1{

    font-family: 'Playfair Display', serif;
    font-size: 20Pt;


}

h2{

    color: white;
}

h3{

    font-family: 'Playfair Display', serif;
    font-size: 20Pt;
}

h4{

    color: white;
}

#submit {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

nav{

    background-color: aqua;
}

