.left {
    float: left;
    font-family: 'Playfair Display', serif;
    color: darkslategrey;
    font-size: 12PT;
    padding: 10px;

}
.right {

    width: 100%;
    background-color: darkslategrey;
    font-family: 'Playfair Display', serif;
    font-size: 18PT;
    padding: 10px;
    float: none;
    vertical-align: top;
    color: white;
}

.table2{

    float: right;
    background-color: lightgray;
    width: 60%;
    font-family: 'Open Sans', sans-serif;
    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    padding: 5px;
    margin-bottom: 10px;
;


}

.nav{

    font-family: 'Poiret One', cursive;
    color: darkslategrey;
    font-size: 14PT;
    padding: 10px;
    width: 100%;
    float: right;
    text-align: right;

}

section{


}

header{

    font-family: 'Playfair Display', serif;
    color: darkslategrey;
    font-size: 12PT;

}

head{


}

form {

    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 12PT;
    
}

.inputform
{
    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    padding: 5px;
    margin-bottom: 10px;
    ;
}


#form{

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}



.table1{

    background-color: darkslategrey;
    padding: 30px;
    font-family: 'Open Sans', sans-serif;
    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */

}



.foot{
    float: right;
    text-align: right;
    font-family: 'Playfair Display', serif;
    vertical-align: bottom;
    font-size: 10PT;
}

input.submit {
    width: 6em;  height: 3em;


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.moveright{

    text-align: right;
}

li{

    float: right;
}

li a{

    display: inline-block;
    padding: 0 10px 10px 10px;
    text-decoration: none;

}

A:LINK{

    COLOR: gold;
}

A:HOVER{

    COLOR: red;
}

h1{



}

h2{


}

h3{


}

h4{

    color: white;
}

#submit {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

nav{


}

th{
    font-family: 'Poiret One', cursive;
    font-size: 12PT;

}